body {
    margin:0 0 0 0;
    box-sizing: border-box;
    }

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding-top:.2em;
    padding-bottom:.2em;
    /*decreases top and bottom margin*/
    margin: 0 auto;}

ul {
    list-style: none;
    display: flex; /* made unordered list a flex container */
    justify-content:space-between;
    align-items:center;
    color:black;
    padding-left: 0;
    background: #C1C1C1;
    font-family: 'Work Sans', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
display:inline-block; /* inline-block to increase clickable area beyond the text */
text-decoration: none;
color:black;
padding: 0 15px; /*spacing between list items - widens space between lis and increases clickable area for anchors*/
}

a:hover {
color:blue;
}

