body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: #42265B;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;}

.name img {
   height: 60px;
   width: auto;
   margin-right: auto;

}

#search-btn {
background-color: white;
color: #42265B;
font-family: 'Roboto', sans-serif;
margin-right: 15px;
}

.card {
    color: black;
    width: 20%;
}

#daily-temp {
    display: flex;
    font-size: 110px;
    font-weight: bold;
    align-content: center;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 5px;
}

.jumbotron {
    background: linear-gradient(to bottom, #693C90 0%, #BC9291 100%) no-repeat fixed;
    height: 45vh;
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

ul {
    margin: 0px 0 20px 0;
    padding: 0;
    list-style-type: none;
}

div.container.main-weather {
    margin: 0 0 0 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.title {
    margin: 0 0 0 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

a {
    color: white;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.bigger-text {
    font-weight: bold;
    font-size: 30px;
}

h1 {
    text-align: left;
    color: white;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.daily-forecast {
    margin-left: auto;
    margin-right: auto;
}

#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 70vh;
    margin: 20px auto 40px auto;
}

.pin {
    position: relative;
    text-align: center;
    color: #42265B;
}

.geocoder {
    width: 50%;
    left: 50%;
    top: 10px;
    margin-right: 5px;
}